# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.27
lte.LIMBDARK.chromo.GJ436.lgrad=8.tmaxch=8000.lmtop=3.8.lmin=1.8.pout1d4.T1M.27.gz
*.gz
sample_high_activity.txt
lte.chromo.Teff=3416.logg=4.84.lgrad=8.tmaxch=8000.lmtop=6.lmin=4.pout1d4.27.sav
